///** Mixins: Grid */

// @include grid-columns( );
@mixin grid-columns( $min: 20ch, $max: 1fr, $gap: var(--size-fluid-2), $fit: auto-fit ) {
  display: grid;
  grid-template-columns: repeat($fit, minmax($min, $max));
  gap: $gap;
}

// @include grid-columns-2( );
@mixin grid-columns-2( $size1: 1fr, $size2: 1fr, $gap: var(--size-fluid-2), $fit: auto-fit ) {
  display: grid;
  grid-template-columns: $size1 $size2;
  gap: $gap;
}

// @include grid-columns-2( );
@mixin grid-rows-2( $size1: 1fr, $size2: 1fr, $gap: var(--size-fluid-2), $fit: auto-fit ) {
  display: grid;
  grid-template-rows: $size1 $size2;
  gap: $gap;
}

// @include grid-unset-columns();
@mixin grid-unset-columns() {
  grid-template-columns: unset;
}

// @include grid-unset-rows();
@mixin unset-grid-rows() {
  grid-template-rows: unset;
}