@use "../common/variables";
@use "../tools/respond-to";

.content-canvas {
  display: grid;
  column-gap: var(--size-fluid-2);
  grid-template-columns:
    [full-start]
      minmax(0, 1vw)
    [wide-start]
      minmax(0, auto)
    [main-start]
      minmax(5ch, 10ch)
    [main-left]
      minmax(8ch, 12ch)
    [main-mid]
      minmax(8ch, 12ch)
    [main-right]
      minmax(5ch, 10ch)
    [main-end]
      minmax(0, auto)
    [wide-end]
    minmax(0, 1vw)
    [full-end];
  grid-auto-flow: row;
}

.content-canvas--no-sidebar {
  grid-template-columns:
    [full-start]
      minmax(0, 2vw)
    [wide-start]
      minmax(0, 2vw)
    [main-start]
      minmax(10ch, calc(#{variables.$break-medium} - 3rem))
    [main-mid]
      minmax(15ch, 20ch)
    [main-end]
      minmax(0, 2vw)
    [wide-end]
    minmax(0, 2vw)
    [full-end];
}

@include respond-to.respond-to('small') {
  .content-canvas {
    grid-template-columns:
      [full-start]
        minmax(0, 1vw)
      [wide-start]
        minmax(0, auto)
      [main-start]
        minmax(5ch, 10ch)
      [main-left]
        minmax(8ch, 15ch)
      [main-mid]
        minmax(8ch, 15ch)
      [main-right]
        minmax(5ch, 10ch)
      [main-end]
        minmax(0, auto)
      [wide-end]
      minmax(0, 1vw)
      [full-end];
    grid-auto-flow: row;
  }

  .content-canvas--list {
    grid-template-columns: 
      [full-start]
        minmax(0, 2vw)
      [wide-start]
        minmax(0, 2vw)
      [main-start]
        minmax(5ch, 10ch)
      [main-left]
        minmax(8ch, 15ch)
      [main-mid]
        minmax(8ch, 15ch)
      [main-right]
        minmax(5ch, 10ch)
      [main-end]
        minmax(18ch, 2vw)
      [wide-end]
      minmax(0, 2vw)
      [full-end];
  }

  .content-canvas--no-sidebar {
    grid-template-columns:
    [full-start]
      minmax(0, 2vw)
    [wide-start]
      minmax(5vw, 10vw)
    [main-start]
      minmax(5ch, 10ch)
    [main-left]
      minmax(10ch, 15ch)
    [main-mid]
      minmax(10ch, 15ch)
    [main-right]
      minmax(5ch, 10ch)
    [main-end]
      minmax(5vw, 10vw)
    [wide-end]
    minmax(0, 2vw)
    [full-end];
  }
}

@include respond-to.respond-to('medium') {
  .content-canvas {
    grid-template-columns:
      [full-start]
        minmax(0, 1vw)
      [wide-start]
        minmax(5ch, auto)
      [main-start]
        minmax(8ch, 12ch)
      [main-left]
        minmax(8ch, 12ch)
      [main-mid]
        minmax(8ch, 12ch)
      [main-right]
        minmax(5ch, 12ch)
      [main-end]
        minmax(15ch, auto)
      [wide-end]
      minmax(0, 1vw)
      [full-end];
    grid-auto-flow: row;
  }

  .content-canvas--no-sidebar {
    grid-template-columns:
    [full-start]
      minmax(0, 2vw)
    [wide-start]
      minmax(5vw, 15vw)
      [main-start]
      minmax(5ch, 10ch)
    [main-left]
      minmax(10ch, 15ch)
    [main-mid]
      minmax(10ch, 15ch)
    [main-right]
      minmax(5ch, 10ch)
    [main-end]
      minmax(5vw, 15vw)
    [wide-end]
    minmax(0, 2vw)
    [full-end];
  }
}

@include respond-to.respond-to('large') {
  .content-canvas,
  .content-canvas--list {
    column-gap: var(--size-fluid-2);
    grid-template-columns: 
      [full-start]
        minmax(2vw, auto)
      [wide-start]
        minmax(10vw, 15ch)
      [main-start]
        minmax(5ch, 10ch)
      [main-left]
        minmax(10ch, 15ch)
      [main-mid]
        minmax(10ch, 15ch)
      [main-right]
        minmax(5ch, 10ch)
      [main-end]
        minmax(10vw, 15ch)
      [wide-end]
        minmax(2vw, auto)
      [full-end];
    // grid-template-rows: fit-content(25ch);
  }
}

.content-canvas > *, 
.content-canvas-item-left,
.content-canvas-item-right {
  width: 100%;
  grid-column: main-start/main-end;
  align-self: start;

  .fig-image {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;

    img {
      width: 100%;
    }
  } 
}

@include respond-to.respond-to('small') {
  .content-canvas-item-right {
    width: 100%;
    grid-column: main-mid/main-end;
  }
}

.content-canvas-item-wide {
  grid-column: wide-start/wide-end;
}

.content-canvas-item-wide-left {
  grid-column: main-start/main-end;
}

.content-canvas-item-wide-left-more {
  grid-column: main-start/main-end;
}

.content-canvas-item-out-left {
  grid-column: main-start/main-end;
}

.content-canvas-item-mid-wide-right {
  grid-column: main-mid/main-end;
}

.content-canvas-item-wide-right {
  grid-column: main-start/main-end;
}

.content-canvas-item-full-right {
  grid-column: main-start/main-end;
}

.content-canvas-item-out-right {
  grid-column: main-end/wide-end;
}

.content-canvas-item-full {
  grid-column: full-start/full-end;
}

.content-canvas-item-wide-left-sm {

}

@include respond-to.respond-to('small') {
  .content-canvas-item-wide-right {
    grid-column: main-start/wide-end;
  }
  .content-canvas-item-left {
    grid-column: main-start/main-mid;
  }
  .content-canvas-item-wide-left-sm {
    grid-column: wide-start/main-left;
  }
  .content-canvas-item-main-left-main-end {
    grid-column: main-left/main-end;
  }
  .content-canvas-item-wide-left {
    grid-column: wide-start/main-mid;
  }
  .content-canvas-item-wide-left-more {
    grid-column: wide-start/main-end;
  }
  .content-canvas-item-out-left {
    grid-column: wide-start/main-mid;
  }
  .content-canvas-item-out-left-from-full {
    grid-column: full-start/main-end;
  }
}

@include respond-to.respond-to('medium') {
  .content-canvas-item-left {
    grid-column: wide-start/main-mid;
  }
  .content-canvas-item-wide-left-sm {
    grid-column: wide-start/main-left;
  }
  .content-canvas-item-full-right {
    grid-column: main-end/full-end;
  }
  .content-canvas-item-mid-wide-right {
    grid-column: main-mid/wide-end;
  }

  .content-canvas-item-right,
  .content-canvas-item-mid-wide-right,
  .content-canvas-item-wide-right,
  .content-canvas-item-full-right {

    &.content-canvas-item-right--span-2 {
      grid-row: span 2;

      &.content-canvas-span-start-content-top {
        grid-row: 1 / span 2;
      }

      + * {
        grid-column: main-start/main-mid; 
      }

      + .content-canvas-item-wide-left {
        grid-column: wide-start/main-mid;
      }
    }

    &.content-canvas-item-right--span-3 {
      grid-row: span 3;

      &.content-canvas-span-start-content-top {
        grid-row: 1 / span 3;
      }

      + *,
      + * + * {
        grid-column: main-start/main-mid; 
      }

      + .content-canvas-item-wide-left,
      + * + .content-canvas-item-wide-left {
        grid-column: wide-start/main-mid;
      }
    }

    &.content-canvas-item-right--span-4 {
      grid-row: span 4;

      &.content-canvas-span-start-article-top {
        grid-row: 1 / span 4;
      }

      &.content-canvas-span-start-content-top {
        grid-row: 2 / span 4;
      }

      + *,
      + * + *,
      + * + * + * {
        grid-column: main-start/main-mid; 
      }

      + .content-canvas-item-wide-left,
      + * + .content-canvas-item-wide-left,
      + * + * + .content-canvas-item-wide-left {
        grid-column: wide-start/main-mid;
      }
    }

    &.content-canvas-item-right--span-5 {
      grid-row: span 5;

      &.content-canvas-span-start-content-top {
        grid-row: 2 / span 5;
      }

      + *,
      + * + *,
      + * + * + *,
      + * + * + * + * {
        grid-column: main-start/main-mid; 
      }

      + .content-canvas-item-wide-left,
      + * + .content-canvas-item-wide-left,
      + * + * + .content-canvas-item-wide-left,
      + * + * + * + .content-canvas-item-wide-left {
        grid-column: wide-start/main-end;
        
        @include respond-to.respond-to('large') {
          grid-column: wide-start/main-mid;
        }
      }
    }
  }

  .content-canvas-item-wide-left,
  .content-canvas-item-left-sm,
  .content-canvas-item-wide-left-sm {
    &.content-canvas-item-left--span-2 {
      grid-row: span 2;
    }

    &.content-canvas-item-left--span-3 {
      grid-row: span 3;
    }

    &.content-canvas-item-left--span-4 {
      grid-row: span 4;
    }
  }

  .pull-right {
    grid-column: main-mid/main-end;
    grid-row: span 4;
  }

  .pull-right + *,
  .pull-right + * + *,
  .pull-right + * + * + * {
    grid-column: main-start/main-mid;
  }
}

.content-canvas--inner {
  display: grid;
  column-gap: var(--size-fluid-1);
  grid-template-columns:
    [inner-start]
      minmax(15ch, calc(#{variables.$break-medium} - 3rem))
    [inner-mid]
      minmax(10ch, auto)
    [inner-end];
  grid-auto-flow: row;

  &> * {
    width: 100%;
    grid-column: inner-start/inner-end;
    align-self: start;
  }

  .content-canvas-inner-right {
    width: 100%;
    grid-column: inner-mid/inner-end;

    &.content-canvas-inner-right--span-2 {
      grid-row: span 2;

      &+ * {
        grid-column: inner-start/inner-mid;
      }
    }
  }
}