@use "../tools/mixins" as mx;

#honey {
  @include mx.do-not-display;
}

.site-form {
  display: grid;
  grid-auto-flow: row;
  gap: var(--size-2);
  margin-block: var(--size-9);

  hr {
    margin-block: var(--size-1);

    &::after {
      line-height: var(--font-lineheight-00);
    }
  }

  label {
    font-size: var(--font-size-fluid-00);
    text-align: right;
  }
}

:where(textarea,select,input:not([type=button],[type=submit],[type=reset])) {
  background-color: var(--color-white-dark);
  border-radius: var(--radius-1);
  padding: var(--size-2);
}

.required {
  color: var(--color-red);
  display: inline-block;
  margin-inline: 0.125rem;
}

.form-group {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: var(--size-3);

  input,
  textarea {
    grid-column: 2 / span 2;
  }

  textarea {
    min-block-size: 5lh;
  }
}

.form-group--submit {
  margin-block: var(--size-3);
  button {
    grid-column: 2;
    font-size: var(--font-size-fluid-01);
    padding-block: var(--size-3);
  }
}

:where([type=submit],form button:not([type],[disabled])) {
  background: var(--color-brand-primary);
  color: var(--color-text-white);
  border: 0;
  border-radius: var(--size-3);
  transition: all 0.2s ease;
  box-shadow: unset;
  text-shadow: unset;

  &:hover {
    background: var(--color-brand-primary-dark);
    border-radius: var(--size-1);
    transition: all 0.2s ease;
  }
}
