@use "../tools/respond-to" as rt;

.page {
  padding-block: var(--size-fluid-3);
}

.page-title-white {
  color: var(--color-text-white);
}

/* Page with hero image */
.page-with-hero-image {
  position: relative;
  padding-block-start: calc(20vh + 2rem);

  > * {
    position: relative;
    z-index: 1;
  }

  .page-title {
    position: absolute;
    top: 8vh;
  }
}

.page-hero-image {
  position: absolute;
  top: 0;
  left: 0;
  block-size: 20vh;
  overflow: hidden;
  z-index: 0;
  display: block;

  picture {
    display: block;
    inline-size: 100%;
    block-size: 100%;
  }

  figcaption {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background: rgba(255, 255, 255, 0.75);
    padding: 0.25rem;
  }
}

@include rt.respond-to('medium') {
  .page-with-hero-image {
    padding-block-start: clamp(15rem, 70vh, 37rem);

    .page-title {
      top: clamp(12rem, 45vh, 23rem);
    }
  }

  .page-hero-image {
    block-size: clamp(15rem, 70vh, 35rem);
  }
}
