.page {
  padding-block: var(--size-8);
}

.page-title-white {
  color: var(--color-text-white);
}

/* Page with hero image */
.page-with-hero-image {
  position: relative;
  padding-block-start: 40vh;

  > * {
    position: relative;
    z-index: 1;
  }

  .page-title {
    position: absolute;
    top: 20vh;
  }
}

.page-hero-image {
  position: absolute;
  top: 0;
  left: 0;
  block-size: 40vh;
  overflow: hidden;
  z-index: 0;
  display: block;

  picture {
    display: block;
    inline-size: 100%;
    block-size: 100%;
  }

  figcaption {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background: rgba(255, 255, 255, 0.75);
    padding: 0.25rem;
  }
}