@use "../tools/px-to-rem";
@use "../tools/respond-to";

.footer-main {
  border-top-color: var(--color-brand-quinary-dark);
  border-top-width: var(--size-2);
  border-top-style: solid;
  background-color: var(--color-brand-quinary);
  color: var(--color-text);
  padding-block: var(--size-9);

  a {
    color: inherit;
  }
}

.footer-main__nav,
.footer__nav {
  --nav-text-color: var(--color-text-white);
}

.footer-main__container {
  display: grid;
  grid-auto-flow: row;
  row-gap: var(--size-9);
  grid-template-areas:
    "left"
    "right"
  ;

  @include respond-to.respond-to('medium') {
    grid-template-areas:
      "left .... right"
    ;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.footer-main___left {
  grid-area: left;
}

.footer-main__right {
  grid-area: right;
}

.footer-main__container__contact-me__list {
  margin-block-start: var(--size-5);
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 2fr;
  gap: 0.75rem 1.25rem;
  font-size: var(--font-size-fluid-0);

  >* {
    align-self: center;
  }

  :where(dt) {
    margin-block-start: unset;
    text-align: right;
  }
}

.footer-main--site-logo {
  position: relative;
}

.footer-main--site-title {
  font-size: 3rem;
  position: relative;
  max-inline-size: var(--size-header-1);
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    bottom: -0.85rem;
    right: -0.5rem;
    height: 2rem;
    width: 95%;
    border-style: solid;
    border-width: 0.35rem;
    border-color: var(--color-black) transparent transparent transparent;
    border-radius: 80%;
  }
}

.footer-main--site-subtitle {
  position: absolute;
  bottom: -0.67rem;
  left: 2.25rem;
  text-transform: lowercase;
  font-size: 0.8rem;

  span {
    &:not(:first-of-type) {
      font-weight: var(--font-weight-bold);
    }
  }
}

.social-site {
  display: inline-block;
  position: relative;
  padding-right: 2.5em;

  &:not(.social-site--no-icon) {
    &::after {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      content: ' ';
      mask-size: contain;
      mask-repeat: no-repeat;
      background: var(--surface-teal);
      height: px-to-rem.px-to-rem(24px);
      width: px-to-rem.px-to-rem(32px);
      transition: 0.2s;
    }
  }

  &:hover {
    &::after {
      transform: translateX(5px);
    }
  }

  &.email {
    &::after {
      mask-image: url("/static/images/icons/email.svg");
    }
  }

  &.twitter {
    &::after {
      mask-image: url("/static/images/icons/twitter.svg");
    }
  }

  &.mastodon {
    &::after {
      mask-image: url("/static/images/icons/mastodon.svg");
    }
  }

  &.instagram {
    &::after {
      mask-image: url("/static/images/icons/instagram.svg");
    }
  }

  &.facebook {
    &::after {
      mask-image: url("/static/images/icons/facebook.svg");
    }
  }

  &.youtube {
    &::after {
      mask-image: url("/static/images/icons/youtube.svg");
    }
  }

  &.soundcloud {
    &::after {
      mask-image: url("/static/images/icons/soundcloud.svg");
    }
  }

  &.medium {
    &::after {
      mask-image: url("/static/images/icons/medium.svg");
    }
  }

  &.bluesky {
    &::after {
      mask-image: url("/static/images/icons/bluesky.svg");
    }
  }

  &.website,
  &.worksite {
    &::after {
      mask-image: url("/static/images/icons/globe.svg");
    }
  }
}
