@use "../tools/respond-to";

.header-main {
  --header-main-text-color: var(--color-white);
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: var(--color-brand-primary);
  color: var(--header-main-text-color);
  box-shadow: var(--shadow-2);
  border-bottom: var(--size-2) solid var(--color-brand-tertiary);
}

.header-main__inner {
  position: relative;
  padding: 0.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-block-size: 100%;
}

.header-main__logo {
  a {
    margin-block: 0;
    padding-block: 0;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

.header-main--title-wrapper {
  position: relative;
  margin-block-end: var(--size-2);
}

.header-main--title {
  font-size: var(--font-size-fluid-5);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -1.7rem;
    left: 2.35rem;
    height: 2.5rem;
    width: 95%;
    border-style: solid;
    border-width: 0.35rem;
    border-color: var(--header-main-text-color) transparent transparent transparent;
    border-radius: 80%;
  }
}

.header-main--subtitle {
  position: absolute;
  bottom: 0.5rem;
  right: 0;
  text-transform: lowercase;

  span {
    &:not(:first-of-type) {
      font-weight: var(--font-weight-bold);
      font-size: larger;
    }
  }
}

@include respond-to.respond-to('medium') {
  .header-main__inner {
    padding: 0.5rem 1.5rem;
    display: grid;
    grid-auto-flow: row;
    grid-template-areas: 
      ".... logo ...."
      ".... nav ...."
    ;
    grid-template-columns:  minmax(2vw, auto) 1fr minmax(2vw, auto);
  }

  .header-main__logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
  }

  .header-main__nav {
    grid-area: nav;
  }
}

.header-main__logo {
  position: relative;
  z-index: 10;
  flex: 0 0 20ch;

  // .site-logo {
  //   background: url(/static/images/logo.png) 0 0 no-repeat;
  //   background-size: contain;
  //   display: block;
  //   width: 200px;
  //   max-width: 100%;
  //   height: 63px;
  //   border-bottom: none;
  //   margin-bottom: 1em;
  // }

  a {
    color: inherit;
  }
}