@use "../common/variables" as var;

.page-title {
  margin-block-end: var(--size-4);
}

.page-title--heading {
  font-size: var(--font-size-fluid-3);
  margin-block-start: var(--size-4);
  margin-block-end: var(--size-2);
  padding-inline-start: 0;
  margin-inline-start: 0;
}