---
title: Contact
description: Drop me a line by email, or book a short introductory call
layout: page.njk
date: 2025-10-13T14:12:12
eleventyNavigation:
  key: Contact
  order: 150
  footer: true
  hideMainNav: true
showTOC: false
meta:
  title: Contact Juliet Bick
---

{% Markdown %}

Get in touch with me via the [contact form at the bottom](./#contact-form) to send an enquiry and I'll be in touch shortly.{.large}

---

## Contact form{id=contact-form .margin-block-lg}

{% endMarkdown %}

{% include "layouts/components/contact-form.njk" %}
