@use "../common/variables" as var;
@use "../common/site-palette" as sp;
@use "sass:color";

:root {
  --color-01: #44562f;
  --color-02: #83934d;
  --color-03: #b7c88d;
  --color-04: #e9dfb4;
  --color-05: #efbfb3;
  --color-06: #edb66e;
  --color-white: rgba(255, 255, 255, 1);
  --color-white-transparent: rgba(255, 255, 255, 0.66);
  --color-white-dark: rgb(240, 240, 240);
  --color-black: rgba(0, 0, 0, 1);
  --color-grey: rgba(25, 25, 25, 1);
  --color-grey-dark: rgb(12, 12, 12);
  --color-grey-light: rgb(30, 30, 30);
  --color-grey-lighter: rgb(51 51 51);
  --color-cool-grey: rgb(220, 220, 220);
  --color-cooler-grey: rgb(191, 191, 191);
}

html {

  // Brand colours
  --color-brand-primary: var(--color-01);
  --color-brand-secondary: var(--color-02);
  --color-brand-tertiary: var(--color-03);
  --color-brand-quaternary: var(--color-04);
  --color-brand-quinary: var(--color-05);
  --color-brand-senary: var(--color-06);
  --color-brand-white: var(--color-white);
  --color-brand-black: var(--color-black);
  --color-brand-grey: var(--color-grey);
  --color-brand-text: var(--color-black);

  --color-brand-primary-light: #{sp.$color-01-lighter};
  --color-brand-primary-dark: #{sp.$color-01-darker};
  --color-brand-secondary-light: #{sp.$color-02-lighter};
  --color-brand-secondary-dark: #{sp.$color-02-darker};
  --color-brand-tertiary-dark: #{sp.$color-03-darker};
  --color-brand-quaternary-dark: #{sp.$color-04-darker};
  --color-brand-quinary-dark: #{sp.$color-05-darker};
  --color-brand-senary-dark: #{sp.$color-06-darker};

  // Text colours
  --color-text-black: var(--color-brand-black);
  --color-text-white: var(--color-brand-white);

  // Border colours
  --border-color: var(--color-grey-dark);
  --border-top-color: var(--border-color);
  --border-bottom-color: var(--border-color);
  --border-color-pale: var(--color-cool-grey);

  // Fonts
  --font-primary: #{var.$primary-font};
  --font-secondary: #{var.$secondary-font};
  --font-headings: #{var.$headings-font};
  --font-handwriting: #{var.$handwriting-font};
  --font-headings-weight: #{var.$headings-font-weight};
  --font-weight-light: #{var.$base-font-weight-light};
  --font-weight-medium: #{var.$base-font-weight-medium};
  --font-weight-regular: #{var.$base-font-weight-regular};
  --font-weight-bold: #{var.$base-font-weight-bold};

  --font-size-fluid-000: clamp(#{var.$body-v-sml-font-size-mobile}, 1.3vw, #{var.$body-v-sml-font-size});
  --font-size-fluid-00: clamp(0.7rem, 1.75vw, 0.9rem);
  --font-size-fluid-0: clamp(0.75rem, 2vw, 1rem);
  --font-size-fluid-010: clamp(0.8rem, 3vw, 1.1rem);
  --font-size-fluid-01: clamp(0.875rem, 3vw, 1.125rem);
  --font-size-fluid-02: clamp(1rem, 3vw, 1.35rem);
  --font-size-fluid-12: clamp(1.25rem, 4vw, 1.75rem);
  --font-size-fluid-3: clamp(#{var.$h1-font-size-mobile}, 4vw, #{var.$h1-font-size});
  --font-size-fluid-4: clamp(#{var.$h1-lg-font-size-mobile}, 5vw, #{var.$h1-lg-font-size});
  --font-size-fluid-5: clamp(2.75rem, 5vw, 4.5rem);

  --size-header-4: 45ch;
  --size-header-5: 55ch;
  --size-content-4: 75ch;


  // Sizes
  --size-fluid-000: clamp(0.125rem, 0.5vw, 0.25rem);
  --size-fluid-00: clamp(0.25rem, 0.67vw, 0.5rem);
  --size-fluid-0: clamp(0.25rem, 0.75vw, 0.75rem);
}

body {
  background-color: var(--color-white-dark);
}

:focus-visible {
    outline-color: unset;
}