@use "../common/variables";
@use "../tools/px-to-rem";
@use "../tools/respond-to";

.header-main__nav {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  padding: px-to-rem.px-to-rem(145px) px-to-rem.px-to-rem(25px) px-to-rem.px-to-rem(25px) px-to-rem.px-to-rem(25px);
  background-color: var(--color-brand-primary-dark);
}

.main-nav,
.footer-main__nav,
.footer__nav {
  --nav-text-color: var(--color-text-white);

  ul {
    list-style: none;
    padding: 0;
    width: 100%;
    font-size: var(--font-size-fluid-00);
    margin-block-start: var(--size-1);
    margin-block-end: 0;

    li {
      font-weight: variables.$base-font-weight-medium;
    }
  }

  a {
    color: var(--nav-text-color);
    font-weight: variables.$base-font-weight-medium;
    text-decoration: none;
    display: block;
    padding: px-to-rem.px-to-rem(5px) px-to-rem.px-to-rem(15px);
    margin-inline: px-to-rem.px-to-rem(5px);

    &:hover {
      color: var(--nav-text-color);
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 2px;
    }

    &.current {
      // background-color: var(--surface-4);
      font-weight: var(--font-weight-bold);
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 2px;
    }
  }
}

.header-main__menu {
  height: 100%;
  cursor: pointer;
  display: inline-block;
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 12;
  padding-right: px-to-rem.px-to-rem(20px);
  box-shadow: unset;
  background: none;
  border: none;

  .header-main__menu__text {
    display: none;
    font-size: px-to-rem.px-to-rem(15px);
    text-shadow: none;
  }

  .open-text {
    display: none;
    color: var(--color-text-white);
  }

  .header-main__menu__burger {
    width: px-to-rem.px-to-rem(18px);
    display: inline-block;
    vertical-align: middle;
    margin-left: px-to-rem.px-to-rem(8px);
    margin-right: px-to-rem.px-to-rem(24px);

    div {
      width: 100%;
      height: px-to-rem.px-to-rem(3px);
      transition: 0.3s ease-in-out;
      border-radius: px-to-rem.px-to-rem(2px);
      background-color: var(--color-white);
      margin-bottom: px-to-rem.px-to-rem(4px);
    }
  }
}

.header-main {
  &.open-mobile {

    .header-main__nav {
      transition: 0.3s ease-in-out;
      display: flex;
      flex-flow: column;
      overflow: scroll;
      width: 100vw;
    }

    .header-main__menu {
      &.js-closed {
        .header-main__menu__burger {
          div {
            background-color: var(--color-white);
          }
          div:nth-child(1) {
            transition: 0.3s ease-in-out;
            display: none;
          }
          div:nth-child(2) {
            transition: 0.3s ease-in-out;
            transform: rotate(45deg);
            margin-bottom: px-to-rem.px-to-rem(-3px);
          }
          div:nth-child(3) {
            transition: 0.3s ease-in-out;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}

@include respond-to.respond-to('medium') {
  .header-main__nav {
    display: block;
    position: relative;
    height: unset;
    padding-block: var(--size-1);
    background-color: unset;
  }

  .main-nav {
    ul {
      display: flex;
      justify-content: center;
      align-items: stretch;

      // a {
      //   padding-block: px-to-rem.px-to-rem(5px);
      // }
    }

    li {
      flex-basis: max-content;
      padding: 0;
      display: flex;
      align-items: center;

      &:not(:last-child) {
        border-right: 1px solid var(--color-brand-tertiary);
      }
    }
  }

  .header-main__menu {
    display: none;
  }

  .footer-main__nav__list {
    display: initial;
    margin-block-end: 0;
  }
}

.css-nav--close {
	display: none;
	color: var(--text-1);
}

.js {
	.css-nav {
		display: none;
	}

  .header-main {
		.header-main__menu {
			.header-main__menu__text {
				display: inline-block;

				&.open-text {
					display: none;
				}
			}
		}
		&.open-mobile {
			.header-main__menu {
				.header-main__menu__text {
					display: inline-block;
	
					&.open-text {
						display: inline-block;
					}
					&.closed-text {
						display: none;
					}
				}
			}
		}
	}
}