---
layout: base.njk
class:
  page:
    - home-content
    - content-canvas
siteLogoImg:
  src: "https://placehold.co/219x219"
  widths:
    - 164
    - 219
styles:
  - home.css
scripts:
  - modal-contact.js
---

      {% if showTitle != false and primary != true %}
      {% include "layouts/components/title-bar.njk" %}
      {% endif %}

    <section class="home-layout content-canvas-item-full">

      <div class="home-layout__item home-layout__item--left">
        <div class="home-layout__item__inner">
          <div class="home-layout__item__inner__content home-layout--panes--pane-text">
            {{ content | safe  }}
          </div>
        </div>
      </div>

      <div class="home-layout__item home-layout__item--right">
        <div class="home-layout__item__inner">
          <a href="/about/">
          {% image image.path, image.alt, image.class, [200, 400], "(min-width: 30em) 50vw, 100vw" %}
          </a>
        </div>
      </div>
    </section>

    <div class="content-canvas-item-wide">
    {% include "layouts/components/memberships-list.njk" %}
    </div>

    <div class="home-layout--panes content-canvas-item-full">
      {% set cls = cycler("odd", "even") %}
      {% for pane in panes %}
      <section class="home-layout--panes--pane home-layout--panes--pane-{{ loop.index0 }} home-layout--panes--pane-{{ cls.next() }}{% if pane.classes %} {{ pane.classes | join(" ")}}{% endif %}{% if pane.path %} faux-block-link-parent{% endif %}">
        <div class="home-layout--panes--pane-inner home-layout--panes--pane-text">
          {{ pane.text | markdown | safe}}
        </div>

        <div class="home-layout--panes--pane-inner home-layout--panes--pane-image">
          {% image pane.image.path, pane.image.alt, pane.image.class, [300, 600], "(min-width: 30em) 50vw, 100vw", pane.image.picCls %}
        </div>
        {% if pane.path %}
        <a href="{{ pane.path | url }}" class="faux-block-link"><span class="hide-text" aria-hidden="true">{{ pane.title }}</span></a>
        {% endif %}
      </section>
      {% endfor %}
    </div>


{% if pageLinks %}
  {% include "layouts/components/page-pagelinks.njk" %}
{% endif %}

<div id="contact-modal" class="do-not-display modal contact-modal">
  <h2>Get in touch</h2>
  <p>some modal text</p>
</div>