---
layout: base.njk
class:
  page:
    - home-content
    - content-canvas
siteLogoImg:
  src: "https://placehold.co/219x219"
  widths:
    - 164
    - 219
styles:
  internal:
    - home.css
    - modal.css
  external:
    - "https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css"
scripts:
  internal:
    - modal-contact.js
  external:
    - "https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"
---

    {# - "https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js" #}

      {% if showTitle != false and primary != true %}
      {% include "layouts/components/title-bar.njk" %}
      {% endif %}

    <section class="home-layout">
      {{ content | safe  }}
    </section>

    <div class="content-canvas-item-wide">
    {% include "layouts/components/memberships-list.njk" %}
    </div>

    <div class="home-layout--panes content-canvas-item-full">
      {% set cls = cycler("odd", "even") %}
      {% for pane in panes %}
      <section class="home-layout--panes--pane home-layout--panes--pane-{{ loop.index0 }} home-layout--panes--pane-{{ cls.next() }}{% if pane.classes %} {{ pane.classes | join(" ")}}{% endif %}{% if pane.path %} faux-block-link-parent{% endif %}">
        <div class="home-layout--panes--pane-inner home-layout--panes--pane-text">
          <h2 class="h3-style">{{ pane.title }}</h2>
          {{ pane.text | markdown | safe}}
        </div>

        <div class="home-layout--panes--pane-inner home-layout--panes--pane-image">
          {% image pane.image.path, pane.image.alt, pane.image.class, [300, 500, 800], "auto", pane.image.picCls %}
        </div>
        {% if pane.path %}
        <a href="{{ pane.path | url }}" class="faux-block-link"><span class="hide-text" aria-hidden="true">{{ pane.title }}</span></a>
        {% endif %}
      </section>
      {% endfor %}
    </div>


{% if pageLinks %}
  {% include "layouts/components/page-pagelinks.njk" %}
{% endif %}

{% include "layouts/components/contact-modal.njk" %}
