---
layout: base.njk
class:
  page:
    - content-canvas
    - page
    - type-page
image:
  listShowImg: true
  figClasses:
    - margin-block-end-lg
---

  {% if image.path %}
    {% ImgFigure image.caption, image.figClasses %}![{{ image.alt }}]({{ image.path }}){ {{ image.classes | classes11ty}} eleventy:widths="{{ image.widths }}" eleventy:formats="webp,jpg"}{% endImgFigure %}
  {% endif %}

{{ content | safe }}

{% if showMemberships %}
  <div class="content-canvas-item-wide margin-block-vlg">
  {% include "layouts/components/memberships-list.njk" %}
  </div>
{% endif %}

{% if pagination.data %}
  {% include "layouts/components/pagination-articles.njk" %}

  {% if showPaginationNav !== false and pagination.pages | length > 1 %}
  {% include "layouts/components/pagination-pagination.njk" %}
  {% endif %}
{% endif %}

{% if showContactModal %}
{% include "layouts/components/contact-modal.njk" %}
{% endif %}