<form method="POST" action="/api/submit" class="site-form contact-form">

  <div class="form-group form-group--input">
    <label for="i-fullname">Your name</label>
    <input id="i-fullname" type="text" name="fullname" pattern="[A-Za-z ]+" required />
  </div>

  <div class="form-group form-group--input">
    <label for="i-email">Email address</label>
    <input id="i-email" type="email" name="email" required />
  </div>

  <label id="honey" for="contact-name">Contact name
      <input type="text" id="contact-name" name="contact-name">
  </label>

  <hr />

  <div class="form-group form-group--input margin-block-start-md">
    <label for="i-subject">Subject</label>
    <input id="i-subject" type="text" name="subject" required />
  </div>

  <div class="form-group form-group--input">
    <label for="i-message">Your message</label>
    <textarea id="i-message" name="message" required rows="5" cols="33"></textarea>
  </div>

  <div class="form-group form-group--submit">
    <button type="submit">Submit</button>
  </div>
</form>