  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% set siteName = [ metadata.org, metadata.title, metadata.subtitle] %}
    <title>{{ pageTitle or title or siteName | join(" ") }} | {{ metadata.title }}</title>

    <!-- structured data -->
    {% jsonLdScript meta, type, tags %}

    <!-- meta -->
    <meta name="author" itemprop="author" content="{{ metadata.author.name }}">
    <meta name="description" itemprop="description" content="{{ description }}">

     <!-- Icons -->
  <link rel="icon" type="image/png" href="/public/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/public/favicon/favicon.svg" />
  <link rel="shortcut icon" href="/public/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/public/favicon/apple-touch-icon.png" />
  <link rel="manifest" href="/public/favicon/site.webmanifest" />
  
    {# Google Fonts #}
    {% include "layouts/components/head-google-fonts.njk" %}

    {# OpenProps #}
    <link rel="stylesheet preload" href="//unpkg.com/open-props@1.7.13/open-props.min.css" as="style" fetchPriority="low" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet preload" href="//unpkg.com/open-props@1.7.13/normalize.light.min.css" as="style" fetchPriority="low" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet preload" href="//unpkg.com/open-props@1.7.13/buttons.light.min.css" as="style" fetchPriority="low" onload="this.onload=null;this.rel='stylesheet'">

    {# Styles #}
    {% set css %}
      {% include "assets/css/styles.css" %}
    {% endset %}
    <style>{{ css | cssmin | safe }}</style>

    {% if styles %}
      {# External styles first #}
      {% for style in styles.external %}
      <link rel="stylesheet" href="{{ style }}" />
      {% endfor %}
      {# Internal styles second #}
      {% for style in styles.internal %}
        {% set include_style %}assets/css/{{ style }}{% endset %}
        {% set include_css %}
          {% include include_style %}
        {% endset %}
      <style>{{ include_css | cssmin | safe }}</style>
      {% endfor %}
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
      <!-- jQuery Modal -->
    {# <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script> #}
    {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" /> #}
    {# <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script> #}
    {% set js %}
      {% include "assets/js/inline.js" %}
    {% endset %}
    <script>{{ js | jsmin | safe }}</script>

    {% if scripts %}
      {# External scripts first #}
      {% for script in scripts.external %}
      <script src="{{ script }}"></script>
      {% endfor %}
      {# Internal scripts second #}
      {% for script in scripts.internal %}
        {% set include_script %}assets/js/{{ script }}{% endset %}
          {% set include_js %}
            {% include include_script %}
          {% endset %}
    <script>{{ include_js | jsmin | safe }}</script>
      {% endfor %}
    {% endif %}

    {% include "layouts/components/head-social-cards.njk" %}

  </head>