    <header class="header-main content-canvas">
      <div class="header-main__inner content-canvas-item-full">
        <div class="header-main__logo">
        {% if page.url !== '/' %}<div class="header-main--title-wrapper"><a href="{{ '/' | url }}" class="site-logo">
          <h1 class="header-main--title handwriting-font not-bold">{{ metadata.title }}</h1>
					{% if metadata.strapline %}<div class="header-main--subtitle">{{ metadata.strapline | wrapWords | safe }}</div>{% endif %}
					</a>
				</div>
        {% else %}
				<div class="header-main--title-wrapper">
					<h1 class="header-main--title handwriting-font not-bold">{{ metadata.title }}</h1>
					{% if metadata.strapline %}<div class="header-main--subtitle">{{ metadata.strapline | wrapWords | safe }}</div>{% endif %}
				</div>
        {% endif %}
        </div>
        <div class="header-main__nav">
					{% include "layouts/components/nav.njk" %}
				</div>
				<button class="header-main__menu js-closed" aria-expanded="false" href="#main-navigation">
					<a class="css-nav css-nav--open" href="#main-navigation" aria-label="Open menu">Open</a>
					<a class="css-nav css-nav--close" href="#" aria-label="Close menu">Close</a>
					<div class="header-main__menu__text closed-text hide-text" aria-label="Open menu">Menu</div>
					<div class="header-main__menu__text open-text" aria-label="Close menu">Close</div>
					<div class="header-main__menu__burger">
						<div></div>
						<div></div>
						<div></div>
					</div>
				</button>
      </div>
    </header>