
    <main id="content" class="main">
      {% if not primary and not list %}
      
      <article class="{% if class.page %}{{ class.page | join(" ") }}{% endif %}">
    
        {% include "layouts/components/title-bar.njk" %}

      {# {% if eleventyNavigation and isHome !== true %}
      {% include "layouts/components/page-breadcrumb.njk" %}
      {% endif %} #}

        {{ content | safe }}
        
      </article>
      
      {% else %}
      <div class="body {% if class.page %}{{ class.page | join(" ") }}{% endif %}">

        {% if not hideTitleBar %}
        {% include "layouts/components/title-bar.njk" %}
        {% endif %}

        {{ content | safe }}
      </div>
      {% endif %}
    </main>
