<footer class="footer-main content-canvas">
	<div class="footer-main__container container content-canvas-item-wide">
		<div class="footer-main__logo footer-main___left">
      {% if page.url !== '/' %}<a href="{{ '/' | url }}" class="footer-main--site-logo">
				<div class="footer-main--site-title-wrapper">
					<div class="footer-main--site-title handwriting-font not-bold">{{ metadata.title }}</div>
				</div>
				{% if metadata.strapline %}<div class="footer-main--site-subtitle">{{ metadata.strapline | wrapWords | safe }}</div>{% endif %}
			</a>
      {% else %}
      <div class="footer-main--site-logo">
				<div class="footer-main--site-title-wrapper">
        	<div class="footer-main--site-title handwriting-font not-bold">{{ metadata.title }}</div>
				</div>
        {% if metadata.strapline %}<div class="footer-main--site-subtitle">{{ metadata.strapline | wrapWords | safe }}</div>{% endif %}
      </div>
      {% endif %}
    </div>
		<nav aria-label="Find out more" class="footer-main__nav footer-main__right">
			{# <ul>
				{%- for footer in collections.footerNav -%}
				<li>
					<a href="{{ footer.url | url }}"{% if footer.url == page.url %} data-current="current item" class="current"{% endif %}>{{ footer.data.navtitle }}</a>
				</li>
				{%- endfor -%}
			</ul> #}
			{% set navPages = collections.all | eleventyNavigation %}
			<ul class="footer-main__nav__list">
			{% set cls = cycler("odd", "even") %}
			{%- for entry in navPages %}
			{% if entry.url != "/" %}
				<li {% activepath entry.url, page.url %} class="{{ cls.next() }}">
					<a href="{{ entry.url }}">{{ entry.title }}</a>
				</li>
			{% endif %}
			{%- endfor %}
			</ul>
		</nav>
		{# <div class="footer-main__container__contact-me footer__nav footer-main__right">
      {% if metadata.social_site | length %}
			<h3 class="h4-style">Follow me on:</h3>
			<dl class="footer-main__container__contact-me__list">
				{% for item in metadata.social_site %}
				<dt>{{ item.name }}</dt>
				<dd><a href="{{ item.url }}" rel="noreferrer noopener{% if item.rel %} {{ item.rel }}{% endif %}" target="_blank" class="social-site {{ item.machine_name }}{% if item.no_icon %} social-site--no-icon{% endif %}">{{ item.alias }}</a></dd>
				{% endfor %}
			</dl>
      {% endif %}
		</div> #}
	</div>
</footer>
