    <header class="header-main content-canvas">
      <div class="header-main__inner content-canvas-item-wide">
        <div class="header-main__logo">
          {% if page.url !== '/' %}<a href="{{ '/' | url }}" class="site-logo">
            {% image siteLogoImg.src, "Juliet Bick logo", "site-logo-image", siteLogoImg.widths, "auto", "", siteLogoImg.attrs %}
            <div class="h2-style visually-hidden">
              {{ metadata.title }}
              {% if metadata.subtitle %}
              <div class="h2-style not-bold">{{ metadata.subtitle }}</div>
              {% endif %}
            </div>
          </a>
          {% else %}
          <div class="site-logo">
            {% image siteLogoImg.src, "Juliet Bick logo", "site-logo-image", siteLogoImg.widths, "auto", "", siteLogoImg.attrs %}
            <div class="h2-style visually-hidden">
              {{ metadata.title }}
              {% if metadata.subtitle %}
              <div class="h2-style not-bold">{{ metadata.subtitle }}</div>
              {% endif %}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </header>