/* --------------------------------------------------------------
# Tools
-------------------------------------------------------------- */
@use "tools/respond-to";

.home-layout,
.home-layout--panes {
  margin-block: var(--size-9);
}

.home-layout__item__inner,
.home-layout--panes--pane-inner {
  max-inline-size: var(--size-content-3);
}

.home-layout__item__inner__content {
  max-width: 40ch;
  margin-inline: auto;
}

.home-layout__item--left,
.home-layout--panes--pane-text {
  padding: var(--size-fluid-5);
}

.home-layout__item--right {
  padding: var(--size-fluid-5);
}

.home-layout--panes--pane-image {
  overflow: hidden;
}

.home-layout--panes--pane-text {
  p {
    font-size: var(--font-size-fluid-0);
  }
}


@include respond-to.respond-to('medium') {
  .home-layout,
  .home-layout--panes--pane {
    display: grid;
    grid-auto-flow: row;
    grid-template-areas:
      "left right"
    ;
    grid-template-columns: 1fr 1fr;
  }

  .home-layout__item--left,
  .home-layout--panes--pane-text {
    grid-area: left;
  }

  .home-layout__item--right,
  .home-layout--panes--pane-image {
    grid-area: right;
    justify-self: start;
  }

  .home-layout--panes--pane-even {
    grid-template-areas:
      "right left"
    ;

    .home-layout--panes--pane-image {
      justify-self: end;
    }
  }
}