/* --------------------------------------------------------------
# Tools
-------------------------------------------------------------- */
@use "tools/respond-to";

.home-layout,
.home-layout--panes {
  margin-block: var(--size-5);
}

.home-layout {
  display: grid;
  grid-auto-flow: row;
  grid-template-areas:
    "left right"
  ;
  grid-template-columns: 3fr 2fr;
  min-height: 50vh;
}

.home-layout__item__inner,
.home-layout--panes--pane-inner {
  max-inline-size: var(--size-content-3);
}

.home-layout__item__inner__content {
  max-inline-size: var(--size-content-3);
  margin-inline: auto;
}

.home-layout__item--left,
.home-layout--panes--pane-text {
  padding: var(--size-fluid-2);
}

.home-layout__item--right {
  padding: var(--size-fluid-2);
}

.home-layout--panes--pane-image {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  max-inline-size: 100%;
  min-block-size: 30ch;
}

.home-panes--pane--img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.home-layout--panes--pane-text {
  p {
    font-size: var(--font-size-fluid-0);
  }
}


@include respond-to.respond-to('medium') {
  .home-layout,
  .home-layout--panes {
    margin-block: var(--size-9);
  }

  .home-layout,
  .home-layout--panes--pane {
    display: grid;
    grid-auto-flow: row;
    grid-template-areas:
      ". left right ."
    ;
    grid-template-columns: auto minmax(25ch, 50ch) minmax(25ch, 50ch) auto;
  }

  .home-layout__item {
    display: flex;
    align-items: start;
  }

  .home-layout__item--left,
  .home-layout--panes--pane-text {
    grid-area: left;
    justify-self: end;
  }

  .home-layout--panes--pane-text {
    padding-inline: var(--size-fluid-5);
    padding-block: var(--size-fluid-5);
  }

  .home-layout__item__inner__content {
    padding-inline: var(--size-fluid-4);
    padding-block: var(--size-fluid-5);
  }

  .home-layout__item--right {
    padding-block: var(--size-fluid-2);
    padding-inline: var(--size-fluid-5);
  }

  .home-layout__item--right,
  .home-layout--panes--pane-image {
    grid-area: right;
    justify-self: start;
  }

  .home-layout--panes--pane-image {
    max-inline-size: var(--size-content-3);
  }

  .home-layout--panes--pane-even {
    grid-template-areas:
      ". right left ."
    ;

    .home-layout__item--left,
    .home-layout--panes--pane-text {
      justify-self: start;
    }

    .home-layout--panes--pane-image {
      justify-self: end;
    }
  }
}